<%- include('header') -%>
<div class="detail">
  <div class="info1">
    <img width="210px" height="280px" src="<%= movie.poster %>" alt="" />
    <h3><%= movie.title %></h3>
  </div>
  <div class="info2"></div>
</div>
<%- include('footer') -%>
